{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class='article-entry'>
        <h2>{{ object.title }}</h2>
        <p>by {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}</p>
    </div>

    <div>
        <h4>Comments</h4>
        {% for comment in article.comment_set.all %}
            <p>{{ comment.author }} &middot; {{ comment }}</p>
        {% endfor %}
    </div>

    <div>
        <h4>Add a comment</h4>
        <form action='' method='post'>{% csrf_token %}
            {{ form|crispy }}

            {% if user.first_name == 'Eric' or user.first_name == 'Erik' or user.first_name == 'Erick' %}
                <p style='color:red;'>Warning: People named {{ user.first_name }} are not allowed to comment!.</p>
                <button class='btn btn-success ml-2' type='submit' disabled>Post</button>
            {% else %}
                <button class='btn btn-success ml-2' type='submit'>Post</button>
            {% endif %}

        </form>
    </div>

    <div>
        <p>
            {% if article.author.pk == request.user.pk %}
                <a href="{% url 'article_edit' article.pk %}">Edit</a>
                <a href="{% url 'article_delete' article.pk %}">Delete</a>
            {% endif %}
        </p>
        <p>
            Back to <a href="{% url 'article_list' %}">All Articles</a>.
        </p>
    </div>

{% endblock content %}