{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}

    <div class='button'>
        <p><a class='btn btn-primary btn-lg' href="{% url 'article_new' %}"> New Post</a></p>
    </div>

    {% for article in article_list %}
        <div class='card'>

            <div class='card-header'>
                <span class='fw-bold'>
                    <a class='btn btn-outline-primary btn-sm' href='{{ article.get_absolute_url }}'>{{ article.title }}</a>
                </span> &middot;

                <span class='text-muted'>
                    by {{ article.author }} | {{ article.date }}
                </span>
            </div>

            <div class='card-body'>
                {{ article.body }}

                <div class='btn-group'>

                    {% if user.is_eric %}
                        <a class='btn btn-outline-primary disabled' href='{{ article.get_absolute_url }}' aria-disabled='true'>New Comment</a>
                    {% else %}
                        <a class='btn btn-outline-primary' href='{{ article.get_absolute_url }}'>New Comment</a>
                    {% endif %}

                    {% if article.author.pk == request.user.pk %}
                        <a class='btn btn-outline-primary' href="{% url 'article_edit' article.pk %}">Edit</a>
                        <a class='btn btn-outline-danger' href="{% url 'article_delete' article.pk %}">Delete</a>
                    {% else %}
                        <a class='btn btn-outline-primary disabled' href="{% url 'article_edit' article.pk %}" aria-disabled='true'>Edit</a>
                        <a class='btn btn-outline-primary disabled' href="{% url 'article_delete' article.pk %}" aria-disabled='true'>Delete</a>
                    {% endif %}

                </div>

            </div>

            <div class='card-footer text-center text-muted'>

                {% for comment in article.comment_set.all %}
                    <p>
                        <span class='fw-bold'>
                            {{ comment.author }} &middot;
                        </span>
                        {{ comment }}
                    </p>
                {% endfor %}

            </div>

        </div>
        <br />

    {% endfor %}

{% endblock content %}