{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}

        {% if user.is_eric %}
            <div class="alert alert-danger" role="alert">
              People named {{ user.first_name }} have restricted access to this site.
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
              Rule 1: Don't let people named Eric post.
            </div>
        {% endif %}

    {% else %}
        <p>You are not logged in</p>
    {% endif %}

    <p><a class='btn btn-primary btn-lg' href="{% url 'article_list' %}" role='button'>View all articles</a></p>


{% endblock content %}
